# --- Exécutables et Binaires ---
*.exe
*.out
*.app
*.bin

# --- Objets et Bibliothèques ---
*.o
*.obj
*.a
*.lib
*.so
*.dll

# --- Dossiers de Compilation (Build) ---
build/
bin/
obj/
debug/
release/

# --- Fichiers générés par l'IDE (Visual Studio, VS Code, CLion) ---
.vscode/
.vs/
*.user
*.suo
*.sln
*.vcxproj
cmake-build-debug/
cmake-build-release/

# --- Divers ---
*.log
.DS_Store